@charset "ISO-8859-1";
body{
    background-image: url(https://img.freepik.com/free-photo/grilled-meat-skewers-chicken-shish-kebab-with-zucchini-tomatoes-red-onions_2829-10942.jpg?w=1060&t=st=1691683369~exp=1691683969~hmac=9a256d77ca915e84fdc816660467622d584216f64a72806f35ec8e20848dfeeb);
   background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    
}
div{
    height: 200px;
    width: 400px;
    position: absolute;
    left: 100px;
    top: 120px;
}
.input{
    height: 30px;
    width: 300px;
}
.label{
    display: flex;
    align-items: center;
    background-color: rgba(24, 15, 15, 0.6);
    color: white;
    font-size: x-large;
    width: 300px;
    height: 40px;
    border-radius: 3px;
}
h1{
    color: white;
    background-color: rgba(24, 15, 15, 0.6); 
    width: 305px;
}
.radio{
    position: relative;
    top: 10px;
    height: 30px;
    width: 30px;
}
b{
    color: white;
font-size: 30px;
}
select{
    display: flex;
    align-items: center;
    background-color: rgba(172, 117, 171, 0.6);
    color: white;
    font-size: x-large;
    width: 305px;
    border-radius: 3px;

}
h3{
    color: white;
    font-size: 30px;
}
a{
    width: 50px;
    color:rgb(32, 83, 251);
    font-size: 50px;
    background-color: rgb(10, 9, 9);
}
button{
    background-color: rgba(250, 175, 175, 0.795);
    height: 40px;
    width: 140px;
    font-size: xx-large;
   color: white;
}